<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>Task Manager</h2>
    <h3>Never Miss Out Any Tasks</h3>
    <a href="/todos" class="btn">View Tasks</a>
  </div>
</header>

<%- include('partials/footer'); -%>
